// PRIMARY COLOUR
$colour-primary: #ffffcc;

// SECONDARY COLOUR
$colour-secondary: #779ecb;

// BLACK, WHITE AND GREYS
$colour-black: #000000;
$colour-white: #fff;
$colour-gray-dark: #202020;
$colour-slategray: #708090;
$colour-slategray-dark: #2f4f4f;
$colour-slategray-light: #778899;
