.connect {
  height: 50rem;
  background-image: linear-gradient(90deg, $colour-secondary 0%, $colour-secondary 50%, $colour-primary 50%, $colour-primary 100%);

  @media(max-width: 414px) {
      height: 40rem;
      background-image: linear-gradient(90deg, $colour-secondary 0%, $colour-secondary 50%, $colour-secondary 50%, $colour-secondary 100%);
  }

  &__flex {
      height: 50rem;
      display: flex;
  }

  &__location {
      height: 50rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-content: center;
      color: $colour-white;

      @media(max-width: 480px) {
          justify-content: space-between;
      }

      h2, .line {
          transform: translateY(-6rem);

          @media(max-width: 480px) {
              transform: translate(0);
          }
      }

      h3, h4 {
          transform: translateY(-7rem);

          @media(max-width: 480px) {
              transform: translate(0);
          }
      }

  }

  &__team {
      height: 50rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-content: center;

      @media(max-width: 480px) {
          justify-content: space-between;
      }

      @media(max-width: 414px) {
          display: none;
      }
  }

  &__member {
      display: none;
  }

  &__shape {
      box-sizing: border-box;
      overflow: hidden;

      img {
          width: 22rem;
          border-radius: 50%;
          transition: all 1.5s ease;
      }

      figcaption {
          transform: translateY(50rem);
          opacity: 0;
          transition: all 1.5s ease-in-out;
      }

      &:hover {

          img {
              opacity: .75;

          }

          figcaption {
              transform: translateY(0);
              opacity: 1;
          }
      }
  }

  i {
      color: $colour-gray-dark;
      transition: all .5s ease;
  }
  
  i:hover {
      color: $colour-slategray-light;
  }

  i:active {
      color: $colour-slategray-dark;
  }

  .current-member {
      display: block;
  }
}